{% extends "estructura.html" %}
{% block contenido %}
		<article>
			<a href="{% url 'entrada' elemento.id %}"><h3>{{elemento.titulo}}</h3></a>
			<time>{{elemento.fecha}}</time>
			<p>{{elemento.contenido}}</p>
		</article>

		{% if comentario %}
			<p>Comentario:</p>
		{% endif %}
		<UL>
		{% for comentario in comentario %}
			<li>{{ comentario.fechacreacion}} - {{ comentario.autor }}</li>
			<ui>
				<li>{{ comentario.mensaje|lineabreaks }} </li>
				</ui>
			{% endfor %}
			</UL>

		<form action= "{% url 'poncomentario' elemento.id %}" method="POST">
			{% csrf_token %}
			<p>Nombre: {{ form.autor }}</p>
			<p>Mensaje: {{ form.mensaje }}</p>
			<p><input type="submit" value="Enviar"></p>

		</form>

{% endblock %}